<main class="container py-3">
<div *ngIf="pokemon!== null">
    <aside class=" row pokemon-list__item-avatar text-center">
        <img class="col" [src]="pokemon?.imageHD">
        <h4>{{ pokemon.name }}</h4> 
      </aside>
</div>
</main>