.pokemon-list__item-avatar img {
    display: block;
    border-radius: 0%;
    width: 200px;
    height: 200px;
    margin: auto;
  }

  .main-content{
    display: grid;
    grid-template-columns: 4fr 8fr;
}