
<ul class="pokemon-list row ">
    <app-pokemon-list-item class="col" *ngFor="let pokemon of pokemons"
        (clicked)="handlePokemonClicked($event)"
        [pokemon]="pokemon"></app-pokemon-list-item>
</ul>    