.pokemon-list-item {
    /* border-bottom: 1px solid #efefef; */
    padding: .5em 0;
}
.pokemon-list-item_power {
    font-weight: 300;
    margin-bottom: 0;
}

.pokemon-list-item__name {
    margin-bottom: 0;
}

.pokemon-list-item__name img{
    size: 14px;
    border-radius: 0%;
    width: 13px;
    height: 13px;
}

.pokemon-list__item-avatar img {
    display: block;
    border-radius: 0%;
    width: 100px;
    height: 100px;
    margin: auto;
  }