<li class="pokemon-list-item" (click)="onPokemonClicked()">
    <aside class="pokemon-list__item-avatar">
      <img [src]="pokemon?.thumbnail">
    </aside>

    <h6 class="pokemon-list-item__name">
      <img *ngIf="pokemon?.isSelected" 
        src="https://emoji.gg/assets/emoji/pokeball.png" width="14px" height="14px">
        {{ pokemon?.name }}
      </h6>  
</li>