<section class="container py-3 text-center" *ngIf="!username"> 
    <h3>Nothing to see HERE, You must create username!</h3>

    <a role="button" class="btn btn-warning col" routerLink="../login"> Create Username! </a>
</section>

<main class="container py-3 text-center" *ngIf="username">
    <h1> Your Pokemon:</h1>
    <h3> Here you can see all the Pokemon you have Selected, go back to catalogue to catch some more.</h3>
    <section class="row row-col-1 mb-3 text-center" style="height: 100px;">
        <app-trainer-list class="col"></app-trainer-list>
        <section>
            <a role="button" class="btn btn-outline-warning" routerLink="../catalogue"> Go to Pokemon Catalogue</a>
        </section> 
    </section>

</main>