<div class="container py-3">
   <form #createForm="ngForm" (ngSubmit)="onSubmit(createForm)">
        <fieldset class="mb-3 text-center flex-column d-flex" *ngIf="!isRegistered">
            <h2>Before you start you must Login!</h2>
            <label class="form-label text-center" for="name">Pick your Trainer Username:</label>
            <input class="form-control text-center" type="text"
                    id="name"
                    name="username"
                    required
                    pattern="[A-Za-z0-9. _-]{0,50}"
                    [ngClass]="{'is-valid': username.valid,'is-invalid': (username.invalid && (username.dirty || username.touched))  }"
                    minlength="3"
                    maxlength="50"
                    ngModel #username="ngModel"
                    placeholder="Awesome_Sauce"/>
            <div class="invalid-feedback" *ngIf="username.errors && username.invalid && (username.dirty || username.touched)">
                <p *ngIf="username.errors.required">Username Is required!</p>
                <p *ngIf="username.errors.minlength && !username.errors.pattern">Username Is too Short</p>
                <p *ngIf="username.errors.pattern">Username includes invalid characters</p>
            </div>
          
        </fieldset >
        <button type="submit"
                *ngIf="!isRegistered"
                [disabled]="createForm.invalid"
                class="col form-control btn btn-outline-warning">
                Create Username  
        </button>

        <fieldset class="mb-3 text-center flex-column d-flex" *ngIf="isRegistered">
        <h1>Welcome {{ this.userName }}  </h1>&nbsp;
        <h2>Excelent Pokemon Trainer Name!</h2>
        <p>Get started by browsing Pokemon Catalogue and selecting pokemons to train</p>
        <p>You can later review and train them on the Trainer page. Best of luck </p>
        
        </fieldset>
        <fieldset class="mb-1 text-center d-flex" *ngIf="isRegistered">
            
            <br>
            <div class="col">
                <a role="button" class="card form-control btn btn-warning" routerLink="../trainer"> Go to Trainer Page </a>
            </div>&nbsp;
            <div class="col">
                <a role="button" class="card form-control btn btn-warning" routerLink="../catalogue"> Go to Catalogue </a>
            </div>
            
        </fieldset>

   </form>
</div>
