<!-- import catalogue instead 
     the pokemon should be in catalogue -->
<router-outlet> </router-outlet>
<!-- if i put this, these buttons will persist ower alln the pages, 
not sure if i want that -->
<!-- <section>
  <a role="button" class="btn btn-primary" routerLink="../trainer"> Go to Trainer Page </a>&nbsp;
  <a role="button" class="btn btn-primary" routerLink="../catalogue"> Go to Catalogue </a>
</section> -->
