<main>
<ul class="trainer-list row" >
    <div class=" trainer-list-item col" *ngFor="let pokemon of selectedPokemon">
        <li>
            <section  class="trainer-list__item-avatar container">
            <img [src]="pokemon?.imageHD">
            <h5 class="trainer-list-item__name ">
                {{ pokemon.name }}</h5>
            </section>
        </li>
    </div>
</ul> 
</main>
