.trainer-list__item-avatar img{
    /* display: grid; */
    display: block;
    border-radius: 0%;
    width: 100px;
    height: 100px;
    margin-bottom: 5%;
    margin: auto;
    padding: auto;
  }

.trainer-list-item {
    margin-top: 5%;
    padding: 0em .5em;
   
}
.trainer-list {
    list-style-type: none; 
    padding-left: 0;
}

.trainer-list-item__name {
    margin-bottom: 0;
    text-emphasis: none;
    text-emphasis-style: none;
    /* text-align: center; */
}

.main-content{
    grid-template-columns: 4fr 8fr;
}