/* You can add global styles to this file, and also import other style files */
/* Styles will be added to all the components, do some stuff by default to begin */
/* with so it imediatelly looks like it's from this milennia */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body, input, textarea, select, button {
    /* font-family: 'Allison', cursive; */
    font-family: 'Inconsolata', monospace;

}