<!-- i know i need to rerout automatically... make @injectable?  -->
<section class="container py-3 text-center" *ngIf="!username"> 
    <h3>Nothing to see HERE, You must create username!</h3>

    <a role="button" class="btn btn-warning col" routerLink="../login"> Create Username! </a>
</section>


<main class="container py-3 text-center" *ngIf="username" > 
    <h1 class="text-center">Pokemon catalogue </h1>
    <h4> Here you can select yout favorite Pokemon, who will then appear in your trainer page! </h4>
    <h6> If you dont like Them no longer, you can deselect them... Sad..  </h6>

    <div class="row row-cols-2 mb-3 text-center" style="height: 100px;">
        <app-pokemon-list class=" col-9"> </app-pokemon-list>
        
    <section class=" col-3">
        <app-pokemon-selected> </app-pokemon-selected>
        <a role="button" class="btn btn-outline-warning" routerLink="../trainer"> Go to Trainer Page </a>
    </section> 
     </div>
</main>
